@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-image: url("img/bg-pattern-top-desktop.svg"),
    url("/img/bg-pattern-bottom-desktop.svg");
  background-position: top left, bottom right;
  font-family: "Spartan", sans-serif;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  
}

.main {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 750rem;
  width: 100%;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.header-title-bold {
  font-weight: 700;
  font-size: 30px;
  min-width: 15em;
  color: hsl(300, 43%, 22%);
}
.header-description {
  font-size: 13px;
  max-width: 29em;
  color: hsl(300, 43%, 22%);
}
.header-title {
  flex: 0 0 50%;
}

.rating-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(300, 24%, 96%);
  margin: 10px;
  padding: 10px;
  height: 3em;
  white-space: nowrap;
  border-radius: 6px;
  width: 25em;
  flex: auto;
}
.rating {
  color: hsl(300, 43%, 22%);
  font-weight: 700;
  font-size: 10px;
  margin-left: 15px;
  flex: 50%;
}
/* .rating1 {
} */
.rating2 {
  margin-left: 30px;
}
.rating3 {
  margin-left: 60px;
}
.stars {
  width: 12px;
  flex: 50%;
}

/* FOOTER */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  max-height: 19em;
  background: hsl(300, 43%, 22%);
  padding: 10px;
  border-radius: 6px;
  font-size: 10px;
  max-width: 27em;
  color: hsl(0, 0%, 100%);
  margin: 10px 20px 10px 0px;
}

.card-field {
  padding: 20px;
}

.card2 {
  margin-top: 30px;
}
.card3 {
  margin-top: 60px;
}

.title-block {
  display: flex;
  align-items: left;
  padding-bottom: 1em;
}

/* .profile {
  
} */
.profile-img {
  width: 30px;
  border-radius: 50%;
  max-width: 100%;
  max-height: 100%;
}
.name {
  display: block;
  padding-left: 8px;
  color: hsl(0, 0%, 100%);
}

.verified-buyer {
  display: block;
  padding-left: 8px;
  color: hsl(333, 80%, 67%);
}
.verified-buyer-text {
  padding: 20px;
  color: hsl(0, 0%, 100%);
}

@media only screen and (max-width: 768px) {
  body {
    background-image: url("/img/bg-pattern-top-mobile.svg"),
      url("/img/bg-pattern-bottom-mobile.svg");
    position: relative;
    overflow: scroll;
  }

  .header {
    display: block;
  }
  .header-title-bold {
    text-align: center;
    min-width: 10rem;
  }
  .header-description {
    text-align: center;
    max-width: none;
  }
  .ratings-parent {
    flex-direction: column;
  }

  .rating-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: hsl(300, 24%, 96%);
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 20px;
    height: 3em;
    white-space: nowrap;
    border-radius: 6px;
    max-width: none;
    flex: auto;
    width: 100%;
  }

  .rating {
    color: hsl(300, 43%, 22%);
    font-weight: 700;
    font-size: 10px;
    margin-left: 0px;
  }

  .rating1 {
    margin-left: 0px;
    flex-direction: column;
  }

  .rating2 {
    margin-left: 0px;
    flex-direction: column;
  }
  .rating3 {
    margin-left: 0px;
    flex-direction: column;
  }
  .stars {
    width: 6em;
  }

  .footer {
    flex-direction: column;
  }

  .card {
    max-width: none;
    margin-right: 0;
  }
  .card2 {
    margin-top: 20px;
  }

  .card3 {
    margin-top: 20px;
  }
}
